.about-container {
    background: #c5c5c5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* Full height to center vertically */
    padding: 20px;
}

.about-container p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.about-container .videos-ads {
    width: 80vh;
    height: 80vh;
    filter: blur(1px);
    /* Adds the blur effect */
    border-radius: 10px;
    object-fit: cover;
    /* Ensures the video covers the entire area without distortion */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.about-container .videos-ads:hover {
    filter: none;
    /* Removes blur on hover */
    transform: scale(1.05);
    /* Slight zoom on hover */
    transition: filter 0.3s ease-in-out, transform 0.3s ease-in-out;
}